@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ensure smooth scrolling for all pages */
html {
    scroll-behavior: smooth;
}

/* Ensure proper indentation if li-elements contain multi-line content */
ul.list-outside > li {
    margin-left: 1rem;
    margin-top: 0.5rem;
}
